* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #2B283A;
  font-size: 11px;
}

nav {
  background: #F55A5A;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  height: 55px;
}

.nav--icon {
  max-height: 24px;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  /* margin: 0 400px; */
}

.card {
  /* note: max width lang pala para okay pa din pag lumiit */
  max-width: 600px;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 0;
}

.card--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card--image {
  border-radius: 5px;
  object-fit: cover;
  width: 125px;
  height: 168px;
}

.card--location {
  letter-spacing: 0.17em;
  margin-bottom: 3px;
}

.card--title {
  font-size: 25px;
  font-weight: 700;
  margin: 5px 0 15px 0;
}

.card--date {
  font-weight: 700;
}

.card--description {
  margin: 10px 0;
}

.gray {
  color: #918E9B;
  letter-spacing: 0;
}